/* general styles */
body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif, Spartan;
    color: #373738 
}
section {
    display: flex;
    justify-content: center;   
}
/* header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    height: 60px;
}
header ul { 
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: row;
   }
.contactButton {
    border-radius: 4px ;
    background-color: #37919B;
    color: white;
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
  /* text styles */ 
p { 
    line-height: 1.5;
    font-weight: 100;
}
h1 {
  font-size: 38px;
  white-space: nowrap;
  font-weight: 100;
}
h2 {
    font-size: 32px;
    white-space: nowrap;
    font-family: Share;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 30px;
    white-space: nowrap;
    font-weight: 100; 
}
.heading {
    display: flex;
    justify-content: center;
}
li { 
    padding: 16px; /* ? */
}
.subHeading {
    display: flex;
    justify-content: center;
}
/* home page styles */
.homeText {
    padding: 0px 20px 0px 16px;
    max-width: 600px;  
    text-align: center;
}
.homeImg {
    width: 100%;
    height: auto;       
}
.homeImgContainer {
    width: 50%;
    padding: 0px 0px 0px 30px;
    max-width: 300px;
    min-width: 200px;
}
.homeHero {
    height: auto;
    margin: 20px 10px 20px 0px;  
  
}
.homePageIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px 30px 100px;
    filter: invert(22%) sepia(6%) saturate(99%) hue-rotate(202deg) brightness(92%) contrast(96%);   
}

/* about me page styles */
.heading {
    margin: 15px 0px 0px 0px;
}

.aboutMeContent {
    width: 75%
}
.aboutMeImg {
   width: 250px;
   float: right;
   margin: 5px 0px 20px 20px;
}

/* my work styles */
.myWork {
    height: auto;
    margin: 0px 0px 40px 0px;
    
}
.caseStudy {
    width: 300px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    box-shadow: 6px 6px 10px 1px #CECECE;  
}
.caseStudyPic {
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* my skills styles */
.mySkills {
    margin: 30px 0px 0px 0px;
}
.skills {
    display: grid; 
    grid-template-columns: 33% 34% 33%;
    width: 75%;
    margin: 50px;
}

.skills li {
    line-height: 1;
}
/* footer styles */
footer {
    background-color: #373738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:76px;
}
.copyright {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
footer ul { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: white;
    list-style-type: none;   
}
.footerIcons {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(300deg) brightness(100%) contrast(104%);
    height: 20px
}

/* media queries */ 
@media only screen and (max-width: 690px) {
  body { background-color: gray;}
}

