body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif, Spartan;
    color: #373738
    
}
/* header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    height: 60px;
}
header ul { 
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: row;
   }
.contactButton {
    border-radius: 4px ;
    background-color: #37919B;
    color: white;
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
  /* text styles */ 
p { 
    line-height: 1.5;
    font-weight: 100;
}
h1 {
  font-size: 34px;
  white-space: nowrap;
  font-weight: 100;
}
h2 {
    font-size: 32px;
    white-space: nowrap;
    font-family: Share;
}
h3 {
    font-size: 16px;
}
.heading {
    display: flex;
    justify-content: center;
}
li { 
    padding: 16px; /* ? */
}
.subHeading {
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    justify-content: center;   
}
.content {
    display: flex;
    flex-direction: row;
    width: 75%;
}
.homeP {
    padding: 0px 100px 0px 16px;
    max-width: 260px;
}
.words {
    display: flex;
    width: 50%;
}
.heroImg {
    width: 100%;
    height: auto;       
}
.heroContainer {
    width: 50%;
    padding: 30px 16px 0px 30px;
    max-width: 260px;
    min-width: 200px;
}
.homeHero {
    height: auto;
    margin: 20px 0px 60px 0px;
}
.mainIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    filter: invert(22%) sepia(6%) saturate(99%) hue-rotate(202deg) brightness(92%) contrast(96%);
}
/* my work styles */
.myWork {
    height: auto;
    margin: 0px 0px 40px 0px;
}
.caseStudy {
    width: 300px;
    height: 300px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    box-shadow: 6px 6px 10px 1px #CECECE;  
}
.caseStudyPic {
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* my skills styles */
.skillsContainer {
  
    justify-content: center;  
}
.skills {
    display: flex;
    justify-content: space-around;  
}
/* footer styles */
footer {
    background-color: #373738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:76px;
}
.copyright {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
footer ul { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: white;
    list-style-type: none;   
}
.footerIcons {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(300deg) brightness(100%) contrast(104%);
    height: 20px
}

/* media queries */ 
@media only screen and (max-width: 690px) {
  body { background-color: gray;}
}

